.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    color: white;

    border-radius: 0 0 30 30;

    transition: background-color 0.8s ease-in-out;

    z-index: 50;
}

.navbarcentre {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    width: 100%;
    max-width: 1140px;
}

.navbarcontent {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarlinks li {
    list-style: none;
}

.navbarlink {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 5;
    padding: 10 20;
    border-radius: 9999;

    transition: background-color 0.3s ease-in-out;
}

.navbarlink:hover {
    background-color: #8080804a;
}

.navbarlinkbutton {
    display: inline-block;
    margin: 0 auto;
    margin-left: 15px;
    padding: 12 25;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: white;
    color: black;
    border-radius: 9999;

    transition: all 0.3s ease-in-out;
}

.navbarlinkbutton:hover {
    background-color: black;
    color: white;
}

.navbarlinkmenu {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 5 0;
    padding: 0 10 0 10;
}

.navbarlinkbuttonmenu {
    display: inline-block;
    margin: 5 auto 5 auto;
    padding: 12 25;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: white;
    color: black;
    border-radius: 9999;
}




.footer {
    padding: 40 0 30 0;
    background-color: #d8d7d7;
    border-radius: 30 30 0 0;
}

.footercentre {
    margin-left: auto;
    margin-right: auto;
    padding: 20;

    width: 100%;
    max-width: 1140px;
}

/* .footercontent {

} */

.footerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerwebsitelinkscontainer {
    display: flex;
}

.footerwebsitelink {
    font-size: 14px;
    margin-right: 30px;
}

.footerexternallinkscontainer {
    display: flex;
    flex-direction: row;
    column-gap: 15px;

    align-items: center;
}

.footerdivider {
    margin: 10 0;
    border-top: 1px solid #2c2c2c;
}

.footercopyright p {
    margin-top: 15;
    font-size: 14px
}

@media only screen and (max-width: 600px) {
    .footerwebsitelinkscontainer {
        flex-direction: column;
        row-gap: 15px;
    }

    .footerwebsitelink {
        margin-right: 0;
    }
}